.carouselImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    filter: blur(4px);
}

.carousel-control-next,
.carousel-control-prev {
    visibility: hidden;
}

.carousel-indicators {
    visibility: hidden;
}

.carousel-indicators [data-bs-target] {
    transition: all 2000ms ease 0s;
}